.main {
  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0;
    margin-bottom: 26px;

    @include xl {
      margin-bottom: 51px;
    }
  }

  &__content {
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
  }
}