.menu-list {
  display: flex;
  gap: 18px;
  flex-direction: column;
  list-style: none;

  &__link {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    width: 100%;
    height: 46px;
    padding-left: 11px;
    padding-right: 26px;
    border-radius: 8px;
    color: $gray-text;
    text-decoration: none;
    transition: all 0.3s;
    
  
    &:hover,
    &--is-active {
      background-color: $blue;
      color: #fff;
    }
  }

  &__left-icon {
    flex-shrink: 0;
  }

  &__text-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__right-icon {
    position: absolute;
    right: 8px;
  }
}