$black: #000000;
$main-text: #292d32;
$gray: #757575;
$gray-text: #9197b3;
$light-gray-text: #b5b7c0;
$light-gray: #d0d0d0;
$page-bg: #fafbff;
$blue: #5932ea;
$red: #df0404;
$pink: #ffc5c5;
$active-text: #008767;
$green: #00b087;
$light-green: #16c098;
