@import "./normalize.css";
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url(../fonts/Poppins-SemiBold.ttf);
}
.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #000000;
}

.customers__filter-active, .user, .page {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.form-field__input::placeholder, .form-field__input {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 38px;
}

.page__body {
  background: #fafbff;
}
@media (min-width: 1024px) {
  .page__body {
    display: flex;
  }
}
.page__body--with-menu {
  overflow: hidden;
}
.page__mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 100;
  overflow-y: auto;
  background: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.page__mobile-menu--active {
  transform: translateX(0);
}
.page__main {
  flex-grow: 1;
  padding: 0 28px 41px 28px;
}
@media (min-width: 1024px) {
  .page__main {
    padding: 41px 36px;
  }
}
@media (min-width: 1440px) {
  .page__main {
    padding: 41px 95px 71px 71px;
  }
}

.icon {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
.icon--logo {
  width: 37px;
  height: 37px;
  -webkit-mask-image: url("../images/icons/logo.svg");
  mask-image: url("../images/icons/logo.svg");
}
.icon--search {
  -webkit-mask-image: url("../images/icons/search.svg");
  mask-image: url("../images/icons/search.svg");
}
.icon--menu {
  -webkit-mask-image: url("../images/icons/menu.svg");
  mask-image: url("../images/icons/menu.svg");
}
.icon--close {
  -webkit-mask-image: url("../images/icons/close.svg");
  mask-image: url("../images/icons/close.svg");
}
.icon--chevron-right {
  width: 16px;
  height: 16px;
  -webkit-mask-image: url("../images/icons/chevron-right.svg");
  mask-image: url("../images/icons/chevron-right.svg");
}
.icon--key-square {
  -webkit-mask-image: url("../images/icons/key-square.svg");
  mask-image: url("../images/icons/key-square.svg");
}
.icon--3d-square {
  -webkit-mask-image: url("../images/icons/3d-square.svg");
  mask-image: url("../images/icons/3d-square.svg");
}
.icon--user-square {
  -webkit-mask-image: url("../images/icons/user-square.svg");
  mask-image: url("../images/icons/user-square.svg");
}
.icon--wallet-money {
  -webkit-mask-image: url("../images/icons/wallet-money.svg");
  mask-image: url("../images/icons/wallet-money.svg");
}
.icon--discount-shape {
  -webkit-mask-image: url("../images/icons/discount-shape.svg");
  mask-image: url("../images/icons/discount-shape.svg");
}
.icon--message-question {
  -webkit-mask-image: url("../images/icons/message-question.svg");
  mask-image: url("../images/icons/message-question.svg");
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  text-decoration: none;
}
.logo__text {
  display: none;
  align-items: baseline;
  gap: 4px;
}
@media (min-width: 425px) {
  .logo__text {
    display: flex;
  }
}
.logo__version {
  line-height: 15px;
  font-size: 10px;
  font-weight: 500;
  color: #838383;
}

.sidebar {
  display: none;
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  padding: 36px 28px 76px 28px;
}
.sidebar--mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 306px;
  }
}
.sidebar__navigate {
  margin-top: 53px;
  margin-bottom: 28px;
}
.sidebar__navigate--mobile {
  width: 100%;
}
@media (min-width: 425px) {
  .sidebar__navigate--mobile {
    width: 250px;
  }
}
.sidebar__user {
  margin-top: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--mobile {
  width: 100%;
  height: 114px;
  padding: 36px 28px;
}
@media (min-width: 1024px) {
  .header--mobile {
    display: none;
  }
}
.header__button {
  color: #000000;
  transition: color 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.header__button:hover {
  color: #9197b3;
}

.menu-list {
  display: flex;
  gap: 18px;
  flex-direction: column;
  list-style: none;
}
.menu-list__link {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  width: 100%;
  height: 46px;
  padding-left: 11px;
  padding-right: 26px;
  border-radius: 8px;
  color: #9197b3;
  text-decoration: none;
  transition: all 0.3s;
}
.menu-list__link:hover, .menu-list__link--is-active {
  background-color: #5932ea;
  color: #fff;
}
.menu-list__left-icon {
  flex-shrink: 0;
}
.menu-list__text-link {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-list__right-icon {
  position: absolute;
  right: 8px;
}

.user {
  display: flex;
  gap: 12px;
  align-items: center;
  width: max-content;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}
.user__avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
}
.user__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.user__position {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #757575;
}

.main__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0;
  margin-bottom: 26px;
}
@media (min-width: 1440px) {
  .main__title {
    margin-bottom: 51px;
  }
}
.main__content {
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
}

.customers__top {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: space-between;
  padding: 20px;
}
@media (min-width: 768px) {
  .customers__top {
    flex-direction: row;
    align-items: center;
    padding: 30px 53px 40px 38px;
  }
}
.customers__form-field {
  width: 216px;
}
.customers__titles {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.customers__title {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  color: #000000;
}
.customers__filter-active {
  width: min-content;
  padding: 0;
  text-align: left;
  border: none;
  border-radius: 0;
  text-wrap: nowrap;
  font-weight: 400;
  color: #16c098;
  background-color: transparent;
  cursor: pointer;
}
.customers__table {
  width: 100%;
  overflow-x: auto;
  padding: 0 15px;
}
@media (min-width: 1440px) {
  .customers__table {
    padding: 0 30px;
  }
}
.customers__bottom {
  width: 100%;
  padding: 30px 40px 40px 38px;
}

.form-field {
  position: relative;
  color: #7e7e7e;
}
.form-field__input {
  width: 100%;
  height: 38px;
  padding-left: 40px;
  padding-right: 8px;
  outline: none;
  border: 1px solid #f9fbff;
  border-radius: 10px;
  color: #292d32;
  background-color: #f9fbff;
  transition: all 0.3s;
}
.form-field__input::placeholder {
  line-height: 38px;
  color: #b5b7c0;
}
.form-field__input:hover, .form-field__input:focus {
  border: 1px solid #e7e7e7;
}
.form-field__input:-webkit-autofill, .form-field__input:-webkit-autofill:hover, .form-field__input:-webkit-autofill:focus {
  outline: none;
  border: none;
  -webkit-text-fill-color: #292d32;
  -webkit-box-shadow: 0 0 0px 1000px #f9fbff inset;
  background-color: #f9fbff;
}
.form-field__left-icon {
  position: absolute;
  top: 7px;
  left: 8px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead {
  border-bottom: 1px solid #EEEEEE;
}
.table thead tr {
  height: 35px;
  font-weight: 500;
}
.table thead tr th {
  font-weight: 500;
  color: #b5b7c0;
  vertical-align: top;
  padding: 0 8px;
}
.table thead tr th:not(:last-child) {
  text-align: left;
}
.table tbody tr {
  height: 69px;
  text-align: left;
  border-bottom: 1px solid #EEEEEE;
}
.table tbody tr td {
  vertical-align: middle;
  padding: 0 8px;
}
.table tbody tr td:not(:last-child) {
  text-align: left;
}
.table tbody tr td:last-child {
  text-align: center;
}
.table__status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  width: 80px;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 4px;
}
.table__status--active {
  color: #008767;
  background-color: rgba(22, 192, 152, 0.38);
  border-color: #00b087;
}
.table__status--inactive {
  color: #df0404;
  background-color: #ffc5c5;
  border-color: #df0404;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) {
  .pagination {
    flex-direction: row;
    justify-content: space-between;
  }
}
.pagination__info {
  color: #b5b7c0;
}
.pagination__controls {
  display: flex;
  align-items: center;
  gap: 6px;
  list-style: none;
}
@media (min-width: 768px) {
  .pagination__controls {
    gap: 12px;
  }
}
.pagination__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  min-width: 24px;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.01em;
  color: #404b52;
  transition: all 0.3s;
  cursor: pointer;
}
.pagination__button:hover, .pagination__button--active {
  border-color: #5932ea;
  background-color: #5932ea;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
